* {
    padding: 0;
    margin: 0;
}

body {
    text-transform: capitalize;
}

a {
    text-decoration: none;
}

/* contianer class reused class */
.container {
    padding: 0 60px !important;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.heading {
    text-align: center;
    font-size: 45px;
    margin-bottom: 20px;
    position: relative;
    padding-top: 15px;
}

.heading::after {
    content: '';
    width: 150px;
    height: 5px;
    background-color: #08f3d0;
    position: absolute;
    top: 70px;
    border-radius: 10px;
    right: 45%;
}
.discription{
    text-align: center;
    text-transform: capitalize;
    width: 60%;
    margin-left: 25%;   
    margin-bottom: 10px;
}
/* top header */
#header_top {
    background: #08f3d0;
    color: #fff;
    padding: 10px 20px;
}

#header_top .container {
    padding: 10px 60px !important;
}
#header_top .tle_link_color {
   color: #fff;
}

#header_top .flex {
    justify-content: space-between;
}

/* top header */
/* logo and  nav */
#header_bottom .flex {
    justify-content: space-between;
}

#header_bottom .logo {
    font-size: 25px;
}

nav#nav {
    text-align: right;
    width: 80%;
}




.topnav {
    overflow: hidden;
    float: right;

}

.topnav a {
    float: left;
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#header_bottom .active {
    background-color: #08f3d0;
    color: white;
}

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: #000;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #Fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover,
.topnav a:hover,
.dropdown:hover .dropbtn {
    background-color: 08f3d0;
    color: #000;
}

.dropdown-content a:hover {
    background-color: #08f3d0;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 800px) {

    .topnav a,
    .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 800px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}

/* logo and  nav */
/* slider */
.bx-wrapper {
    border: 0px solid #fff;
    margin-bottom: 0;
}

.bx-wrapper img {
    width: 100%;
}

/* slider */
/* about us section */
#aboutUs{
    background-color: #37444D;
    color: #fff;
    padding: 40px 60px;
}
#aboutUs .grid{
 grid-template-columns: 50% 50%;
}
#aboutUs .grid .grid_items{
    padding: 10px 20px;
    text-align: justify;
}
#aboutUs .grid  img{
    width: 100%;
}
/* #aboutUs . {

} */
#teem .border {
    border: 3px solid #08f3d0;
}
#teem .rounded {

}

#teem .roundedMargin {
    margin-top: 100px;
}
#teem .negetiveMargin {
    margin-top: -100px;
}

#teem img{ 
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
}

#teem .teemMemberMame {
  text-align: center;
}
#teem .digination {
  text-align: right;
  margin: 10px 0 ;
}
#teem .messege {
    text-align: justify;
}


/* about us section */
/* service section */
/* #service{} */
#service .grid{
    grid-template-columns: auto auto auto;
    gap: 25px;
    text-align: center;
}
#prossbar{
    padding: 40px 60px;
}
#prossbar .grid{
    grid-template-columns: auto auto auto;
    gap: 25px;
    text-align: center;
}
#service{
    padding: 40px 60px;
}
#service .grid .grid_items{
    border: 2px solid transparent;
}
#service .grid .grid_items:hover{
    border: 2px solid #08f3d0;
}
#service .serviceHeading{
    font-size: 50px;
    
} 
#service .grid .Service_discription {
    text-align: justify;
    min-height: 150px;
    padding: 5px 10px;
}

#service .ServiceIcon{
    font-size: 50px;
    color: #08f3d0;
    padding-top: 10px;
} 

/* progesss bar */
.ldBar path.mainline {
    stroke-width: 5;
    stroke: #09f;
    stroke-linecap: round;
    margin-left: 25%;
}
.ldBar path.baseline {
    stroke-width: 3;
    stroke: #f1f2f3;
    stroke-linecap: round;
    filter: url(#custom-shadow);
}
.ldBar {
    margin: 0 auto;
    padding: 10PX 0 ;
}
.one .mainline{
    stroke: red !important;
}
.two .mainline{
    stroke: yellowgreen !important;
}
.three .mainline{
    stroke: blueviolet !important;
}
.four .mainline{
    stroke: yellow !important;
}

/* progesss bar */

/* service section */


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
    .container {
        padding: 0 20px ;
    }

    .flex {
        display: inline;
    }

    .grid {
        display: inline;
    }
    .discription{
        text-align: justify;
    }

    #header_top .flex_items:last-child {
        margin-top: 15px;
    }

    #header_bottom .flex {
        display: flex;
    }

    .heading::after {
        right: 28%;
    }

    /* about us section */
    /* about us section */
    /* service */
    #service {
        padding: 40px 20px;
    }
    #service .container {
        padding: 0 !important;
    }
    #service .grid .grid_items{
        border: 2px solid #08f3d0;
    }
    #service .grid{
        display: grid;
        grid-template-columns:auto;
        gap: 10px;
        text-align: center;
    }
    #prossbar .grid{
        display: grid;
        grid-template-columns:auto;
        gap: 10px;
        text-align: center;
    }
    /* service */
    #aboutUs {
        padding: 40px 20px;
    }
    #aboutUs .container{
        padding: 0 !important;
    }
    #aboutUs .grid{
        grid-template-columns: auto ;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .heading::after {
        right: 40%;
    }
    #service .grid{
        display: grid;
        grid-template-columns:auto auto;
        gap: 10px;
        text-align: center;
    }
    #aboutUs .grid{
        grid-template-columns: auto ;
    }
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .heading::after {
        right: 40%;
    }
    #service {
        padding: 40px 30px;
    }
    #service .container {
        padding: 0 !important;
    }
    #service .grid{
        display: grid;
        grid-template-columns:auto auto;
        gap: 10px;
        text-align: center;
    }
    #aboutUs .grid{
        grid-template-columns: auto ;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .heading::after {
        right: 41%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}


/* for pertenge */
@media (min-width: 400px) and (max-width: 524.99px) {
    .heading::after {
        right: 32%;
    }
}

@media (min-width: 525px) and (max-width: 574.99px) {
    .heading::after {
        right: 32%;
    }
}

@media (min-width: 600px) and (max-width: 700px) {
    .heading::after {
        right: 35% !important;
    }
}

/* for pertenge */